h2 {
    color: #0464f5;
    margin-bottom: 20px;
}



form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

input[type="text"],
input[type="url"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
}

textarea {
    resize: vertical;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

button.btn-next {
    background: #4caf50;
    color: #fff;
}